<%if(sucessfullyRegisteredCheck[0]==='succesfully loggedIn'){ %>
    <div class="d-flex justify-content-center mt-2">
        <div class="w-25 d-flex justify-content-center alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Login Success!</strong>
        </div>
    </div>
    <%}%>

<%if(sucessfullyRegisteredCheck[0]==='succesfully Logout'){ %>
    <div class="d-flex justify-content-center mt-2">
        <div class="w-25 d-flex justify-content-center alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Login Success!</strong>
        </div>
    </div>
<%}%>