<%if(flashesValues[0]==='succesfully loggedIn'){%>
    <div class="d-flex justify-content-center mt-2">
        <div class="w-25 d-flex justify-content-center alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Login Success!</strong>
        </div>
    </div>
    <%}%>

    <%if(flashesValues[0]==='Job Successfully Published'){%>
        <div class="d-flex justify-content-center mt-2">
            <div class="w-25 d-flex justify-content-center alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Job Successfully Published!</strong>
            </div>
        </div>
        <%}%>
    