<footer>
    <div class="text-center">  
     <strong>Copyright &copy; 2015-2022 <a href="https://darwinbox.com/">Darwinbox</a>.</strong> All rights reserved.
       <b>Version</b> 1.0.0
    </div>
    
</footer>




<script>
  $(".alert-dismissible").fadeTo(2000, 500).slideUp(500, function(){
      $(".alert-dismissible").alert('close');
});
</script>