<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs', {title:"Admin"}) %>
</head>
<body>
  <%- include('partials/adminNavbar.ejs',{pageName:"home"}) %>

  <%- include('partials/dataAlerts.ejs') %>


  <%- include('partials/footscript.ejs') %>
</body>
</html>