<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs', {title:"Courses"}) %>
</head>

<body>

    <%- include('partials/navbar.ejs',{pageName:"courses"}) %>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <img src="dist/img/study.jpeg" width="90%" height="95%" alt="">
                </div>
                <div class="col-md-6">
                    <p>
                        The advanced technologies have opened new doors for learning opportunities. Back in the day, it was not easy to learn something new. But now, there are numerous programs and courses online. Many people do not find time to enrol for a full-time college course due to various reasons. That’s why online courses have become popular and helpful. Now, with a quick search, you will be able to find endless learning opportunities. And the best part is that you will find many high-quality websites which are completely free.

 

                        Whether if you wish to learn a completely new thing or improve your existing skill, there is no shortage of online courses of your choice and subject. However, with tons of online learning platforms, you may have a dilemma to find the one right for you. As we understand the increased number of options makes it difficult for you, we have made a list of 10 websites providing online courses based on their popularity and traffic. Go ahead, check out each platform and choose the one best-suited for your needs.
                        <br>
                        1. ALISON<br>
                        2. Udemy<br>
                        3. Coursera<br>
                        4. edX<br>
                        5. Udacity<br>
                        6. LinkedIn Learning<br>
                        7. General Assembly<br>
                        8. Skillshare<br>
                        9. Codecademy<br>
                        10. Pluralsight<br>
                        11. Adobe<br>
                        12. Google SkillShop<br>
                        13. FutureLearn<br>
                    </p>
                </div>
            </div>
        </div>


        <%- include('partials/footscript.ejs') %>
</body>

</html>