<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs', {title:"Register"}) %>
</head>

<body>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Registration Form</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="quickForm" action="/registerdata" method="post">
                            <div class="card-body">


                                <div class="form-group">
                                   <b>Type of User? &nbsp;&nbsp;</b> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="typeOfAccount"
                                            id="user_radio_id" value="user" checked>
                                        <label class="form-check-label" for="user_radio_id">
                                            user
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="typeOfAccount"
                                            id="company_radio_id" value="company">
                                        <label class="form-check-label" for="company_radio_id">
                                            company
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="typeOfAccount"
                                            id="admin_radio_id" value="admin">
                                        <label class="form-check-label" for="admin_radio_id">
                                            admin
                                        </label>
                                    </div>



                                </div>

                                <div class="form-group div_class_of_company" style="display: none;" id="div_id_of_company">
                                    <label for="id_companyName">Company Name</label>
                                    <input type="text" name="company_name" class="form-control" id="id_companyName"
                                        placeholder="Enter company name">
                                </div>


                                <div class="form-group div_class_of_company" style="display: none;" id="div_id_of_company">
                                    <label for="id_company_sector">Company Sector</label>
                                    <input type="text" name="company_type" class="form-control" id="id_company_sector"
                                        placeholder="Enter company Sector">
                                </div>

                                <div class="form-group">
                                    <label for="id_phone_no">Phone Number</label>
                                    <input type="text" name="phone_no" class="form-control" id="id_phone_no" placeholder="Enter phone number">
                                  </div>

                                  <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                      <label for="id_city">City</label>
                                      <input type="text" name="city" class="form-control" id="id_city" placeholder="City">
                                      <div class="invalid-tooltip">
                                        Please provide a valid city.
                                      </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                      <label for="id_state">State</label>
                                      <input type="text" name="state" class="form-control" id="id_state" placeholder="State">
                                      <div class="invalid-tooltip">
                                        Please provide a valid state.
                                      </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                      <label for="id_zip">Zip</label>
                                      <input type="text" name="zip" class="form-control" id="id_zip" placeholder="Zip">
                                      <div class="invalid-tooltip">
                                        Please provide a valid zip.
                                      </div>
                                    </div>




                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="terms" class="custom-control-input"
                                            id="exampleCheck1">
                                        <label class="custom-control-label" for="exampleCheck1">I agree to the <a
                                                href="#">terms of service</a>.</label>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a class="btn btn-secondary" href="/logout">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>




    <%- include('partials/footscript.ejs') %>


        <!-- Page specific script -->
        <script>

$("[name='typeOfAccount']").change(function () {
        if ($('#company_radio_id').is(':checked')) {
            $('.div_class_of_company').show();
        }
        else{
            $('.div_class_of_company').hide();
            $('.div_class_of_company').find(':input').val('');
        }
    });
            $(function () {

                $('#quickForm').validate({
                    rules: {

                        company_name:{
                            required:true,
                        },
                        city:{
                            required:true,
                        },
                        state:{
                            required:true,
                        },
                        zip: {
                            required: true,
                           minlength:2,
                           number:true,
                        },
                    },
                    messages: {
                        company_name: {
                            required: "Please fill company name",
                        },
                        terms: "Please accept our terms"
                    },
                    errorElement: 'span',
                    errorPlacement: function (error, element) {
                        error.addClass('invalid-feedback');
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element, errorClass, validClass) {
                        $(element).addClass('is-invalid');
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).removeClass('is-invalid');
                    }
                });
            });



        </script>


</body>

</html>